body .ui-button-icon-only .ui-icon {
	left: 0.5rem;
	margin-left: inherit;
}

.ui-widget-content a.btn {
	color: #fff;
}

#kp-sm-form .ui-menu {
    background-color: white;
    border: none;
}

#kp-sm-form .ui-widget-header {
    background-color: #b2bea01a;
    width: 100%;
}

#kp-sm-form .ui-menuitem-link {
    width: 100%;
}

#kp-sm-form .ui-menuitem-link {
    border: none;
}

#kp-sm-form .ui-menuitem-link:hover,
#kp-sm-form .ui-menuitem-link:focus {
    background: #647b4099;
    border: none;
    outline-offset: 0px;
    border-radius: 0px;
    box-shadow: none;
}